// Colors

$color-primary: #052E26;
$color-primary-light: rgba($color-primary, .70);
$color-accent: #FF9914;
$color-dark: #1e1e1e;
$color-gray: #e4e4e4;
$color-gray-light: #f4f6f5;
$color-secondary: rgba($color-dark, .7);
$color-light: #f7f7f7;
$color-light-text: #9E9E9E;
$color-white: #fff;
$color-black: #000;

$site-size: 24pt;
$site-size-sm: 48pt;
$site-size-md: 96pt;

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
