footer {
    .links {
        a {
            color: $color-white;
            font-weight: bold;
            &:hover {
                color: $color-accent;
            }
            &.active {
                color: $color-accent;
            }
        }
    }
}
